 .header {
      display:flex;
      justify-content: space-between;
      padding: 19px;
     background-color: orangered;
     color: rgb(19, 1, 1);
 }

 .footer {
     background-color: rgb(192, 192, 192);
 }

 .container{
    margin: 4px;
 }

 *{
   margin: 0px; 
 }
 .menu{
  display: flex;
 }
 .menu li a{
 text-decoration: none;
 color: white; 
 }
 .menu li{
  list-style: none;
  margin: 5px;
 }